/*Inicio*/
#myTab {

    margin-top: 5px;
}

#logo {
    margin-left: 20px;
    margin-right: 20px;
}

#gridPerfil {
    margin-top: 20px;
}

#separadorH > p {
    color: white;
}

#informacion_personal > p {
    font-style: oblique;
}

#nomRow > p {
    font-style: italic;
    font-size: small;
} 

/*MenuP*/
#textoM > p {
    text-align: justify;
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*General*/
#divisores {
    margin-top: 50px;
}

/*Campañas*/
#textoE > ol {
    text-align: justify;
}

#header_campaniaNE {
    text-align: center;
}

#btnAñadir, #btn-reg, #btnBottom {
    margin-bottom: 20px;
}

