/*Inicio*/
#myTab {

    margin-top: 5px;
}

#logo {
    margin-left: 20px;
    margin-right: 20px;
}

#gridPerfil {
    margin-top: 20px;
}

#separadorH > p {
    color: white;
}

#informacion_personal > p {
    font-style: oblique;
}

#nomRow > p {
    font-style: italic;
    font-size: small;
} 

/*General*/
#divisores {
    margin-top: 100px;
}

/*Campañas*/
#textoE > ol {
    text-align: justify;
}

#btnAñadir {
    margin-bottom: 20px;
}

